
//@theme "/home/uylong/.local/share/rofi/themes/style_11.rasi"

//@theme "/home/uylong/.local/share/rofi/themes/style_2.rasi"

//@theme "/home/uylong/.local/share/rofi/themes/clipboard.rasi"

@theme "/home/uylong/.local/share/rofi/themes/wallbash.rasi"
